
@mixin pad {
    @media( max-width: 992px){
        @content;
    }   
}

@mixin sm {
    @media( max-width:767px){
        @content;
    }
}

// 字型
.mono{
    font-family: 'Azeret Mono', monospace;
}

// 漸層色彩
.gradient-text-custom{
    background-image: linear-gradient(180deg,#62DB54,#09ACF5);
    background-clip: text;
    color: transparent;
    // -webkit-background-clip: text;
}

// 文字大小
.title1{
    font-size: 48px;
    @include sm(){
        font-size: 24px;
    }
}

.title2{
    font-size: 28px;
    @include sm(){
        font-size: 24px;
    }
}

.title3{
    font-size: 28px;
    @include sm(){
        font-size: 22px;
    }
}


.title4{
    font-size: 24px;
    @include sm(){
        font-size: 14px;
    }
}

.title5{
    font-size: 18px;
    @include sm(){
        font-size: 16px;
    }
}

// icon

.icon-1{
    font-size: 50px;
    margin-bottom: 24px;
    &:hover{
        background-image: linear-gradient(180deg, #62DB54, #09ACF5);
        background-clip: text;
        color: transparent;
    }
}


.link-hover{
    border: 1px solid white;
    &:hover{
        border: 1px solid $primary;
    }
}
